body {
    margin: 0;
    background-color: #F6F7F8;
}

.joinLogo {
    width: 8%;
    position: absolute;
    left: 50px;
    top: 50px;
    animation: mysez 1s 1;
    animation-direction: normal;
    z-index: 1;
}

.logPool {
    background-color: #F6F7F8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logContainer {
    width: 753px;
    height: 390px;
    background-color: #FFFFFF;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 4%); 
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.arrow {
    position: absolute;
    left: 32px;
    top: 30px;
}

.arrowBack {
    position: absolute;
    left: 32px;
    top: 30px;
    display: none;
}

.forgotText {
    font-family: 'Anton', sans-serif;
    font-size: 51px;
    margin-top: 34px;
    font-weight: bold;
}

.forgotDescription {
    margin-top: 34px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.d-none {
    display: none;
}

.underline {
    width: 142px;
    height: 4px;
    margin-top: 15px;
}

.input {
    width: 107%;
    height: 37px;
    border-radius: 6px;
}

.input-relative {
    position: relative;
    width: 46%;
    height: 37px;
    margin-top: 40px;
}

.case {
    position: absolute;
    right: 0%;
    top: 28.4%;
}

.signButton {
    background-color: #2A3647;
    width: 175px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 33px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
   }

   .signButton:hover {
    background-color: rgb(22, 138, 247);
   }

   .decoNone {
    text-decoration: none;
}

.flex {
    display:flex;
}

.forgotSend {

}

.forgotCheck {
    position: relative;
    right: 23px;
    top: 7px;
}

.absolute-centered {
    width: fit-content;
    position: absolute;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.forgotPopup {
    transform: translateY(100vh);
    z-index: 3;
    background-color: #2A3647;
    color: white;
    border-radius: 9px;
    padding: 10px 18px;
    justify-content: space-between;
    gap: 18px;
    font-size: 16px;
    font-weight: bold;
    
}

.forgotAnimation {
    animation-name: slideUP;
    animation-duration: 225ms;
    animation-fill-mode: forwards;
}

.forgotError {
    padding-top: 5px;
    color: red;
    
}

.border-color {
    border-color:red;
}

@keyframes slideUP {
    from {transform: translateY(100vh)}
    to {transform: translateY(1vh)}
  }

@keyframes display {
    from {opacity: 0;}
    to {opacity: 1;}
}


@media(max-width: 777px) {
    .logContainer {
        width: 554px;
    }

    .joinLogo {
        width: 80px;
        }

        .forgotText {
            font-size: 38px;
        }

       

        .input {
            width: 101%;
        }
       
        .case {
            top: 28.4%;
            right: 8%;
        }

        .input-relative {
           
            width: 63%;
            
        }
}

@media(max-width: 570px) {
    .logContainer {
        width: 440px;
    }

.arrow {
    left: 15px;
    width: 22px;
}

        .forgotText {
            font-size: 30px;
        }

        .case {
            top: 28.4%;
            right: 8%;
        }

        .input {
           width: 100%;

        }

        .input-relative {
            width: 88%;
        }

        .forgotDescription {
            font-size: 14px;
            width: 100%;
        }

}

@media(max-width: 460px) {

.joinLogo {
    width: 70px;
}

    .logContainer {
        width: 319px;
        height: 446px;
        margin-top: 127px;
    }

.forgotText {
    margin-top: 75px;
    width: 50%;
}

.input {
    width: 100%;
}

.case {
    right: 8%;
    top: 28.4%;
}

.underline {
    width: 73px;
}

.forgotDescription {
    width: 62%;
}

.arrowBack {
    display: unset;
    width: 20px;
}

.arrow {
    display: none;
}

}

