body {
    margin: 0;
    background-color: #F6F7F8;
}

.joinLogo {
    width: 8%;
    position: absolute;
    left: 50px;
    top: 50px;
    animation: mysez 1s 1;
    animation-direction: normal;
    z-index: 1;
}

.logPool {
    background-color: #F6F7F8;
    height: 82.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 124px;
}

.logContainer {
    width: 753px;
    height: 450px;
    background-color: #FFFFFF;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 14px 3px rgb(0 0 0 / 4%);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.arrow {
    position: absolute;
    left: 32px;
    top: 30px;
}

.d-none {
    display: none;
}

.d-unset {
    display: unset;
}

.flex {
    display: flex;
}

.resetError {
    color: red;
    padding-top: 5px;
}

.border-color {
    border-color: red;
}


.arrowBack {
    position: absolute;
    left: 32px;
    top: 30px;
    display: none;
}

.resetText {
    font-family: 'Anton', sans-serif;
    font-size: 54px;
    margin-top: 34px;
    font-weight: bold;
    text-align: center;
}

.forgotDescription {
    margin-top: 34px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;

}

.underline {
    width: 142px;
    height: 4px;
    margin-top: 15px;
}

.input {
    margin-top: 40px;
    width: 46%;
    height: 37px;
    border-radius: 6px;
    border: lightgray 1px solid;
    outline: none;
    padding: 0 0 0 12px;
}

.signButton {
    background-color: #2A3647;
    width: 175px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 33px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
    border: none;
}

.signButton:hover {
    background-color: #29ABE2;
}

.decoNone {
    text-decoration: none;
}

.forgotSend {
    height: 24px;
}

.forgotCheck {
    position: relative;
    right: 19px;
    top: 8px;
}

.btn-smaller-margin {
    margin-top: 12.8px;
}

.absolute-centered {
    width: fit-content;
    position: absolute;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.resetPopup {
    transform: translateY(100vh);
    z-index: 3;
    background-color: #2A3647;
    color: white;
    border-radius: 9px;
    padding: 10px 18px;
    justify-content: space-between;
    gap: 18px;
    font-size: 16px;
    font-weight: bold;
    display: flex;

}

.popupAnimation {
    animation-name: slideUP;
    animation-duration: 225ms;
    animation-fill-mode: forwards;
}

@keyframes slideUP {
    from {
        transform: translateY(100vh)
    }

    to {
        transform: translateY(1vh)
    }
}

@keyframes display {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media(max-width: 800px) {

    .joinLogo {
        width: 80px;
    }

    .logContainer {
        width: 615px;
        height: 480px;
    }

    .arrow {
        left: 20px;

    }

    .resetText {
        font-size: 50px;
        margin-top: 63px;
    }
}

@media(max-width: 640px) {

    .resetText {
        width: 80%;
    }

    .resetError {

        font-size: 11px;
    }

    .logContainer {
        width: 424px;
        height: 533px;
    }

    .resetText {
        width: 80%;
    }

    .input {
        width: 65%;
    }

    .underline {
        width: 108px;
    }

    .arrow {
        display: none;
    }

    .arrowBack {
        display: unset;
    }

}


@media(max-width: 450px) {

    .joinLogo {
        width: 70px;
    }

    .logContainer {
        width: 313px;
        height: 490px;
    }

    .resetText {
        font-size: 37px;
        margin-top: 50px;
    }

    .underline {
        width: 78px;
    }

    .input {
        width: 83%;
    }

    .arrowBack {
        left: 32px;
        top: 30px;
        width: 17px;
    }

}

@media(max-width: 460px) {
    .resetPopup {
        font-size: 12px;
    }

    .forgotText {
        text-align: center;
    }

    .forgotCheck {
        height: 14px;
        right: 15px;
        top: 6px;
    }

    .forgotSend {
        height: 20px;
    }
}