body {
    margin: 0;
    background-color: #F6F7F8;
}

.joinLogo {
    width: 70px;
    position: absolute;
    left: 50px;
    top: 50px;
    animation: mysez 1s 1;
    animation-direction: normal;
    z-index: 1;
}

.logPool {
    background-color: #F6F7F8;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logContainer {
    width: 600px;
    background-color: #FFFFFF;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 24px;
    padding: 30px 100px;
}

.logText {
    font-weight: bold;
    font-size: 60px;
}

.underline {
    width: 142px;
    height: 4px;
}

.inputs-and-btn {
    align-items: center;
    gap: 40px;
}

.inputs {
    width: 100%;
    align-items: center;
    gap: 35px;
}

.header-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    align-items: center;
    width: 100%;
    gap: 12px;
}

.arrow {
    position: absolute;
    left: 32px;
    top: 30px;
}

.arrowBack {
    position: absolute;
    left: 32px;
    top: 30px;
    display: none;
}

.input {
    height: 100%;
    width: 100%;
    border-radius: 6px;
    padding: 0 0 0 12px;
    border: 1px solid lightgray;
    font-size: 15px;
    outline: none;
}

.input-relative {
    position: relative;
    height: 44px;
    width: 100%;
}

.lock {
    position: absolute;
    right: 4%;
    top: 24%;
}

.case {
    position: absolute;
    right: 4%;
    top: 28%;
}

.error {
    color: red;
    position: absolute;
    margin-top: 48px;
}

.name {
    position: absolute;
    right: 4%;
    top: 24%;
}

.signButton {
    background-color: #2A3647;
    width: 121px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 125ms ease-in-out;
    padding: 7px;
    font-size: 18px;
    border: none;
}

.signButton:hover {
    background-color: #29ABE2;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.decoNone {
    text-decoration: none;
}

.d-none {
    display: none;
}

@media(max-width: 800px) {
    .logContainer {
        margin-top: 100px;
    }
}

@media(max-width: 740px) {
    .logContainer {
        width: 440px;
        padding: 30px 70px;
    }

    .logText {
        font-size: 52px;
    }
}

@media(max-width: 470px) {
    .logContainer {
        width: 350px !important;
        padding: 30px;
    }

    .logText {
        font-size: 48px;
    }

    .name {
        right: 6%;
    }

    .case {
        right: 6%;
    }

    .lock {
        right: 6%;
    }

    .input {
        width: 100%;
        border-radius: 10px;
    }

    .signButton {
        font-size: 14px;
        width: 155px;
        height: 44px;
    }

    .arrow {
        width: 18px;
    }

}



@media(max-width: 390px) {
    .logContainer {
        width: 314px !important;
    }
}

@media(max-width: 350px) {
    .logContainer {
        width: 310px;
        padding: 30px;
    }

    .underline {
        width: 76px;
    }

    .logText {
        font-size: 40px;
    }

    .name {
        right: 7%;
    }

    .case {
        right: 7%;
    }

    .lock {
        right: 7%;
    }

    .signButton {
        width: 145px;
    }

    .arrowBack {
        display: unset;
        width: 18px;
    }

    .arrow {
        display: none;
    }

    @media screen and (max-height: 815px) {
        .logContainer {
            margin-top: 235px;
        }
    }
}